# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/

# ignorar primeiro semestre
1_sem

# ignorar BDR, ES, MPC, AL e IOT
2_sem/BancoDadosRelacional
2_sem/EngenhariaSoftware2
2_sem/MatematicaComputacao
3_sem/AlgebraLinear
3_sem/MatematicaComputacao
4_sem/InternetDasCoisas

#ignorar atividades
2_sem/EstruturaDados/ESTRUTURA_DE_DADOS_ATV06_GIOVANNA_APARECIDA_VILLANOVA.docx
3_sem/BancoDadosNaoRelacional/Atividade Reposição - Giovanna Villanova.docx
3_sem/BancoDadosNaoRelacional/Atividade Reposição - Giovanna Villanova.pdf
3_sem/ExperienciaUsuario/Revisão - Giovanna Villanova.docx
3_sem/ExperienciaUsuario/Revisão - Giovanna Villanova.pdf
